.App {
  text-align: center;
}

.smaller-logo {
  width: 10%;
  height: auto;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.file-upload-area {
  border: 2px dashed #ccc;
  height: 150px;
  margin: 20px;
  padding: 20px;
}

.summary-area {
  border: 2px solid #ccc;
  margin: 20px;
  padding: 20px;
  height: 400px; /* Adjust based on your needs */
  overflow-y: auto;
}

textarea {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

button, 
input {
  padding: 10px;
}

.file-upload-area.drag-over {
  background-color: lightblue; /* Or any other light blue shade you prefer */
}
